html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* ====================== Search ====================== */
#search {
  width: 100vw;
  height: 7vh;
}
/* ====================== Input ====================== */
#input {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}
/* ====================== Leftcolumn ====================== */
#leftcolumn {
  width: 30%;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #02b3e4;
  overflow: auto;
}
/* ====================== List ====================== */
.poi {
  cursor: pointer;
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  list-style: none;
  background-color: #fff;
}
/* ====================== Map ====================== */
#map {
  width: 70%;
  float: right;
  height: 100vh;
}
